body {
    font-family: sans-serif;
    width:1200px;    
}
.header_main {
    display:block;
    background-color:white;
    margin:0;
    width: 100%;
}
.header_main h1{
    width: 550px;
    display: inline-block;
}
.header_main h2 {
    width: 600px;
    vertical-align: top;
    display: inline-block;
    text-align: right;
}
#about{
     padding: 10px 10px;
    margin:0;
    display: block;
    width: 100%;
    background-color: grey;
    color: white;
}
.container {
    
    padding: 20px;
    background: -webkit-linear-gradient(#311f25, #866e7a, #311f25); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#311f25, #866e7a, #311f25); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#311f25, #866e7a, #311f25); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#311f25, v, #311f25); /* Standard syntax (must be last) */
}
 

#me {
    ;
    display: inline-block;
    height:275px;
    border: grey solid 5px;
    vertical-align: top;
}
.aboutme {
    width: 600px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    margin:0px 20px;
    padding: 10px;
    
}
.section{
    display: inline-block;
   width:390px;
   margin: 10px;
   vertical-align: top;
   background-color: white;
   height: 800px;
}
.section p {
    padding: 10px;
    width: 370px;
    height: 240px;
}
.tech_icons img{
    height: 50px;
    width: 50px;
    margin:10px;
}
.site_img {
    width:390px;
    height: 222px;
}
.header_bar {
    padding: 10px 10px;
    margin:0;
    display: block;
    width: 400;
    background-color: grey;
    color: white;
}
button{
    display: block;
    margin: auto;
    color:white;
    background-color: green;
    border-radius: 10px;
    padding:5px 8px;
    
}
.footer {
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
   
    
    
}
 .footer a{
     font-style: italic;
     padding-top: 10
 }
 .footer img {
     width: 20px;
 }
 .footer h4{
     padding-top: 20px;
     
 }
 .footer a{
     text-decoration: none;
     
 }